.add-button {
    background-image: linear-gradient(to right, #5493db , #62dbd5);
}

.cancel-button {
    background-image: linear-gradient(to right, #677688 , #c2d4d4);
    width: auto;
}

.del-button {
    height: 20px;
    color: white;
    border: none;
    font-weight: bolder;
    background-color: red;
}

.edit-button {
    height: 20px;
    color: white;
    border: none;
    font-weight: bolder;
    background-color: blue;
}

.button {
    min-height: 44px;
    color: white;
    border: none;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 4px;
    padding: 6px;
    border-radius: 7%;
}

.buttonFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    margin-top: 10px;
    width: 20rem;
    height: 40px;
}

.reinput {
    margin-top: 10px;
    width: 20rem;
    height: 40px;
}

.todo {
    border: rgb(250, 168, 74) 1px solid;
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
   
.box {
    position: relative;
    width: 330px;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

@media screen and (max-width: 480px) {
    .todo {
        width: 300px;
    }

    .input {
        width: 300px;
    }

    .reinput {
        width: 280px;
    }

    .box {
        width: 310px;
    }
}

@media screen and (max-width: 360px) and (min-width:316px) {
    .reinput {
        width: 270px;
    }

    .box {
        width: 290px;
    }
}

@media screen and (max-width: 315px) {
    .todo {
        width: 280px;
    }

    .input {
        width: 280px;
    }

    .reinput {
        width: 230px
    }

    .box {
        width: 240px;
    }
}